@tailwind base;
@tailwind components;
@tailwind utilities;

.service-btn-prev,
.service-btn-next{
    width: auto !important;
    height: auto !important;
    display: inline-block !important;
}
.swiper-button-prev:after, .swiper-button-next:after{
    display: none;
}